body {
    font-family: arial, helvetica, sans-serif;
    background-color: #F1F1F1;
}

header {
    width: 100%;
    background: #3F3D3D;
    box-shadow: 1px 0.5px 8px #888888;
    border-bottom: 3.5px solid #00A6C9;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

header #faixa {
    background-color: #413F3F;
    height: 25px;
}

footer {
    width: 100%;
    background-color: #413F3F;
    height: 28px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

h1 {
    color: #434141;
}

#forma_login {
    width: 422px;
    height: 395px;
    position: absolute;
    top: calc(50% - 198.75px);
    left: calc(50% - 221px);
    background-color: white; 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 23px 2px #6b6b6b; 
    -moz-box-shadow: 0px 0px 23px 2px #6b6b6b;
    box-shadow: 0px 0px 23px 2px #6b6b6b; 
    border: 0;
    margin: 0;
    padding: 10px;
}

#input_login {
    display: inline-grid;
    position: absolute;
    bottom: 70px;
    left: calc(50% - 107px);

}

#img_login {
    width: 100px;   
    position: absolute;
    left: calc(50% - 40px);
    top: 46px;
}

#btn_login {
    background-color: #00A6CD;
    color: white;    
    height: 39px;
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

#footer_text {
    color: white;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 5px;
}

#coluna_acoes {
    background-color: #BCBCBC;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 105px 10px 30px 15px;
    width: 250px;
}

#incluir_pedido {
    color: #fff;
    cursor: pointer;
    font-size: 8pt;
    height: 39px;
    width: 179px;
    margin: 0 9px 0 9px;
    font-family: 'Verdana', sans;
    background-color: #00A6CD;
    border-radius: 4px;
    text-transform: uppercase;
    border: 0;
}

#box {
    width: calc(100% - 271px);
    height: 811px;
    margin-top: 63px;
}

#pesquisar {
    width: 322px;
    height: 25px;
    border-style: double;
    border-color: lightgrey;
    border-right: 0;
    padding: 1px 5px;
}

#btn_pesquisar {
    width: 50px;
    height: 31px;
    position: absolute;
    background-color: white;
    border-style: double;
    border-color: lightgrey;
    color: #999;
    font-size: 12pt;
}


#tabela_automoveis {
    width: 100%;
    margin-top: 35px;
    border-collapse: collapse;
}

#tabela_automoveis th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #bcbcbc;
}

#tabela_automoveis tr {
    border: 1px solid #ddd;
}

#tabela_automoveis tbody tr:hover {
    background-color: white;
    cursor: pointer;
}

#filtro {
    height: 31px;
    width: 100px;
    position: absolute;
    margin-left: 68px;
    background-color: white;
    border-style: double;
    border-color: lightgrey;
    color: #434141;
}

#box_incluir {
    width: calc(100% - 271px);
    height: 856px;
    margin-top: 63px;
}

#fileira1 div,
#fileira2 div,
#fileira3 div {
    display: inline-block;
    margin-top: 20px; 
}

#fileira1 label,
#fileira2 label,
#fileira3 label {
    display: block;
    font-size: 11pt;
    margin-bottom: 5px;
}

#fileira1 > div:not(:first-child),
#fileira2 > div:not(:first-child),
#fileira3 > div:not(:first-child) {
    margin-left: 15px;   
}

#fileira1 select,
#fileira2 select,
#fileira3 select {
    height: 25px;
    width: 173px;
}

#fileira1 input,
#fileira2 input,
#fileira3 input {
    padding: 3px;
}

#descricao {
    width: 554px;
    margin: 0 !important;
}

#componentes {
    width: 100%;
    display: block;
}

#componentes label {
    line-height: 35px;
    display: inline-block;
}
 
#componentes > input:not(:first-of-type) {
    margin-left: 15px; 
}

#salvar,
.cancelar {
    color: #fff;
    cursor: pointer;
    font-size: 8pt;
    height: 30px;
    width: 81px;
    margin: 65px 10px 0 0;
    font-family: 'Verdana', sans;
    background-color: #00A6CD;
    border-radius: 4px;
    text-transform: uppercase;
    border: 0;
}

#filtro_caixa {
    margin-top: 15px;
    width: 100%;
    height: 180px;
    background-color: #BCBCBC;
    display: block;
}

#coluna_acoes_lista {
    margin-top: 50px;
    margin-left: -26px;
}

#tabela_automoveis th,
#tabela_automoveis td {
    padding: 5px;
}

#tabela_automoveis th {
    color: #434141;
}

.div-filtro {
    display: inline-grid;
    margin-right: 20px;
    padding: 15px;
}

.label_login {
    margin-bottom: 25px;
    height: 25px;
    width: 220px;
    padding: 0 5px;
}

.div-filtro select {
    height: 25px;
    width: 160px;
}

.div-filtro label {
    margin-top: 5px;
}


a.acao:link {
    text-decoration: none;
}

a.acao:hover {
    color: #00A6C9;
}

.acao {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.pesquisa {
    width: 100%;
    display: inline-block;
}

#box_sucesso {
    height: 58px;
    background-color: #46C361;
    width: 400px;
    position: absolute;
    top: 56px;
    right: 20px;
    z-index: 1;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 23px 2px #6b6b6b; 
    -moz-box-shadow: 0px 0px 23px 2px #6b6b6b;
    box-shadow: 0px 0px 23px 2px #6b6b6b; 
    padding: 20px;
}

#box_excluir {
    height: 58px;
    background-color: #e64444;
    width: 400px;
    position: absolute;
    top: 56px;
    right: 20px;
    z-index: 1;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 23px 2px #6b6b6b; 
    -moz-box-shadow: 0px 0px 23px 2px #6b6b6b;
    box-shadow: 0px 0px 23px 2px #6b6b6b; 
    padding: 20px;
}

.warning label {
    color: #E4980D;
}

.warning input {
    border-color: #E4980D;
    border-style: solid;
}

.obrigatorio:after {
    content: " *";
    color: red;
}

a#sair:link {
    text-decoration: none;
}

a#sair:hover {
    color: #00A6C9;
}

#sair {
    text-decoration: none;
    color: black;
    padding: 5px;
    float: right;
    margin-right: 32px;
    color: #BBBBBB;
    font-size: 15px;    
}

#proximo,
#anterior {
    text-decoration: none;  
    color: black; 
    margin-left: calc(48% - 50px);
    font-size: 14px;
}

#proximo {
    margin-left: 15px;
}

#paginacao {
    padding: 50px;
}

#lista_imprimir {
    width: 800px;
    margin-top: 101px;
    border-collapse: collapse;
}

#lista_imprimir th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #bcbcbc;
}

#lista_imprimir tr {
    border: 1px solid #ddd;
}

#impressao {
    display: inline-block;
    font-size: 26px;
    padding: 10px;
    margin-top: 55px;
    position: absolute;
}